body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f2f2f2;
}

/* Navbar */
.navbar {
  background: black;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.nav-links a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
}

.logout-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 14px;
  cursor: pointer;
}

/* Home Section */
.home {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.title {
  font-size: 60px;
  color: #2ca5b8;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 32px;
  font-weight: 300;
}

.description {
  font-size: 18px;
  margin-top: 10px;
}

.start {
  margin-top: 30px;
}

/* Sign Up Button */
.signup-btn {
  margin-top: 20px;
  padding: 15px 40px;
  background: #2ca5b8;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

/* Forms */
.form {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: white;
  box-shadow: 0 0 10px gray;
  border-radius: 8px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
}